$colorBackground2: #222f3e;
$colorA: #6cf;
$shadow: black;


* {
  color: white;
}
h1 {
  a {
    color: #fff;
    text-decoration: none;
  }
}

select {
  color: black;
}

body {
  background: linear-gradient(to bottom, black, #173850, black);
}

i, a {
  color: $colorA;
}

.price {
  color: #e74c3c;
}

.product, .cart, .thisProduct, .cartPage, .eltCart, .totalCart, .form, .confirm, .center {
  background-color: $colorBackground2;
  box-shadow: .2em .2em .2em $shadow;
}
nav {
  ul {
    background-color: $colorBackground2;
    border-bottom: solid 1px $colorA;
    //border-right: solid 1px $colorA;
  }
  .confMenu {
    .on {
      color: #e6e6e6;
      text-shadow: none;
    }
  }
  @media screen and (max-width: 640px) {
    background-color: $colorBackground2;
  }
}
.cartBox {
  li {
    color: $colorA;
  }
}
.btn {
  background-color: $colorA;
}

//Loading
.loadingio-spinner-spin-zolyzq8h0s {
  .ldio-vcrs1no5c6b div > div {
    background: $colorA;
  }

}
