/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

* {
  font-family: sans-serif;
}

h1 {
  font-size: 5em;
  font-weight: bolder;
}

h1, i {
  margin: .1em;
}

h2, .myCart h3 {
  font-size: 2.2em;
  font-weight: bold;
}

h3 {
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
}

i, a {
  color: #2980b9;
}

p {
  text-align: justify;
}

a:hover {
  text-decoration: none;
}

hr {
  margin: 1em;
  color: #eee;
}

body {
  background: linear-gradient(to top, #f1f2f6, #eee);
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav li {
  margin: 0 1em;
  padding: 0.4em 1em;
  font-size: 1.2em;
  font-weight: bold;
}

nav ul {
  background-color: #2980b9;
  list-style: none;
  display: flex;
}

nav a, nav i {
  color: white;
  color: #e6e6e6;
}

nav a .activ, nav a:hover, nav i .activ, nav i:hover {
  color: white;
  text-shadow: 0 0 1em white;
}

nav .mainMenu ul {
  border-radius: 0 0 0.5em 0;
}

.confMenu ul {
  border-radius: 0 0 0 0.5em;
}

.confMenu ul .fa-lightbulb {
  cursor: pointer;
}

.confMenu ul .on {
  color: #feca57;
  text-shadow: 0 0 1em #feca57;
}

.logo {
  display: flex;
  justify-content: center;
}

.open {
  width: 100%;
  display: flex;
  justify-content: center;
}

.close {
  display: none;
}

.page {
  margin: 0 3em 2em 3em;
  display: flex;
}

.block1 {
  width: 80%;
}

.allProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product, .cart, .thisProduct, .eltCart, .totalCart, .form, .confirm {
  background-color: white;
  box-shadow: 0.2em 0.2em 0.2em #84817a;
}

.product {
  width: 40%;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  margin: 1em 0;
  transition: all .3s;
}

.product h2 {
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
}

.product:hover {
  transform: scale(1.05);
}

aside {
  width: 30%;
}

.cart {
  padding: 1em;
  width: 100%;
}

.row ul {
  display: flex;
  justify-content: space-between;
}

.cartBox {
  width: 40%;
  max-width: 297px;
  margin-left: 2em;
}

.picture {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.price {
  font-size: 1.5em;
  font-weight: bold;
  color: #2980b9;
  text-align: center;
}

.description h2 {
  margin-left: 1em;
  margin-bottom: .5em;
}

.description p {
  margin-left: 1em;
}

.thisDescription {
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.thisDescription form {
  margin-top: 1em;
}

.thisDescription label {
  font-weight: bold;
  color: #2980b9;
}

.topDesc {
  display: flex;
  justify-content: space-between;
}

.footDesc {
  display: flex;
  justify-content: space-around;
}

select {
  margin: 1em;
  padding: 0.3em;
  color: white;
  background-color: #2980b9;
  border-color: transparent;
  border-radius: 1em;
}

.btn {
  margin: 1em;
  padding: 1em;
  display: block;
  cursor: pointer;
  background-color: #2980b9;
  border-radius: .4em;
  border: none;
  font-size: 1.3em;
  font-weight: bold;
}

.btn p, .btn i {
  color: white;
}

.add {
  background-color: #33d9b2;
}

.remove {
  background-color: #b33939;
}

.eltCart, .totalCart, .infosCart {
  display: flex;
}

.eltCart i, .totalCart i, .infosCart i {
  margin: .15em .4em;
  cursor: pointer;
}

.eltCart, .totalCart {
  width: 100%;
  justify-content: space-between;
}

.eltCart .price, .totalCart .price {
  font-size: 2.2em;
}

.totalCart {
  margin-top: 1em;
  padding: 1.5em;
}

.myCart {
  width: 100%;
}

.nameCart {
  max-width: 80%;
}

.eltCart, .nameCart {
  padding: 0.4em;
}

.cart {
  cursor: pointer;
  transition: all .3s;
}

.cart:hover {
  transform: scale(1.05);
}

.h2Cart {
  margin: .2em 1.5em;
}

.form {
  margin: 0 1em;
  padding: 1.5em;
}

.eltForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

input {
  font-size: 1.5em;
  color: black;
  margin: .5em;
  padding: .5em;
}

label {
  font-size: 1.5em;
}

.confirm {
  margin: 1em;
  padding: 1em;
}

.confirm p {
  text-align: center;
  font-size: 1.8em;
}

/*# sourceMappingURL=master.css.map */