@import "minireset.scss";
$colorBackground1: #f3e9f1;
$colorBackground2: white;
$colorP: black;
$colorA: #b56f93;
$colorPrice: #33d9b2;
$shadow: #84817a;
$marginTexts: 1em;

@mixin inactiveMenu($colour:$colorBackground2) {
      color: darken($colour, 10%);
}

* {
  font-family: sans-serif;
}

h1 {
  font-size: 5em;
  font-weight: bolder;
}

h1, i {
  margin: .1em;
}

h2 {
  font-size: 2.2em;
  font-weight: bold;
}

h3 {
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
}

i, a {
  color: $colorA;
}

p {
  text-align: justify;
}

a:hover{
  text-decoration: none;
}

hr {
  margin: $marginTexts;
  color: $colorBackground1;
}

body {
  background-color: $colorBackground1;
}


nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
    li {
      margin: 0 1em;
      padding: 0.4em 1em;
      font-size: 1.2em;
      font-weight: bold;
    }
    ul {
      background-color: $colorA;
      list-style: none;
      display: flex;
    }
    a, i {
      color: $colorBackground2;
      @include inactiveMenu;
      .activ, &:hover {
        color: $colorBackground2;
        text-shadow: 0 0 1em $colorBackground2;
      }
    }

}
nav {
  .mainMenu {
    ul {
      border-radius: 0 0 0.5em 0;
    }
  }

}
.confMenu {
  ul {
    border-radius: 0 0 0 0.5em;
    .fa-lightbulb {
      cursor: pointer;
    }
    .on {
      color: #feca57;
      text-shadow: 0 0 1em #feca57;

    }
  }
}


.logo {
  //margin: 8em 0;
  display: flex;
  justify-content: center;
}

.open {
  width: 100%;
  display: flex;
  justify-content: center;
}
.close {
  display: none;
}

.page {
  margin: 0 3em 2em 3em;
  display: flex;
}

.block1 {
  width: 80%;
}

.allProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.product, .cart, .thisProduct, .eltCart, .totalCart {
  background-color: $colorBackground2;
  box-shadow: .2em .2em .2em $shadow;
}

.product {
  width: 40%;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  margin: 1em 0;
  transition: all .3s;
  h2 {
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
  }
  &:hover {
    transform: scale(1.05);
  }
}

aside {
  width: 30%;
}

.cart {
  padding: 1em;
  width: 100%;
  //min-height: 20em;
}
.row {
  ul {
    display: flex;
    justify-content: space-between;
  }
}

.cartBox {
  width: 40%;
  max-width: 297px;
  margin-left: 2em;
}


.thisProduct {
  //display: flex;
}

.thisPicture {
  //max-width: 40%;
}

.picture {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.price {
  font-size: 1.5em;
  font-weight: bold;
  color: $colorPrice;
  text-align: center;
}

.description {
  h2 {
    margin-left: $marginTexts;
    margin-bottom: .5em;
  }
  p {
    margin-left: $marginTexts;
  }
}

.thisDescription {
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  form {
    margin-top: 1em;
  }
  label {
    font-weight: bold;
    color: $colorA;
  }

}

.topDesc {
  display: flex;
  justify-content: space-between;
}

.footDesc {
  display: flex;
  justify-content: space-around;
}

input, .btn {
  display: block;
  cursor: pointer;
  color: white;
  border-radius: .4em;
  border: none;
  font-size: 1.3em;
  font-weight: bold;
}

.add {
  background-color: #33d9b2;

}

.remove {
  background-color: #b33939;
}

.eltCart, .totalCart, .infosCart {
  display: flex;
  i {
    margin: .15em .4em;
    cursor: pointer;

  }
}

.eltCart, .totalCart{
  width: 100%;
  justify-content: space-between;
  .price {
    font-size: 2.2em;
  }

}

.totalCart {
  margin-top: 1em;
  padding: 1.5em;
}

.myCart {
  width: 100%;
}

.nameCart {
  max-width: 80%;
}

.eltCart, .nameCart {
  padding: 0.4em;
}
